<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="C:\projet_midopke\PROJETS\exojavascript\src\css\style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exo</title>
</head>
<body class="papa">
    <button id="clique">clique</button>
    <div id="container">
        <label for="ecranelement">Ecran : </label>
        <input type="text" id="ecranelement" placeholder="affichage...">
        <label for="input_text"> Enter : </label>
        <input type="text" id="input_text" placeholder="Enter...">
        <button id="Valid">Valide</button>
    </div>
    <script src="C:\projet_midopke\PROJETS\exojavascript\src\Script\script.js" ></script>
</body>
</html>